<section>
 <div class="container">
    
 <img src="https://scontent-maa2-2.xx.fbcdn.net/v/t1.6435-9/131092067_938032353393228_6564693265260259506_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=FzTysKg_bfUAX_KtNgH&_nc_ht=scontent-maa2-2.xx&oh=00_AT8hRbtUv2enWTcERSdiYAnOjEf_vyICZmQwkPYMGZr1UA&oe=625A462B" class="rounded-circle" style="width:500px;height:300px">
 
{{#if user}}
   <div>
   <h5>Name:{{user.0.name}}</h5>
   </div>
   <div>
   <h5>email:{{user.0.email}}</h5>
   </div>
   {{/if}}
   

</div>
</section>